.main {
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px rgb(59, 7, 73) solid;
  position: relative;
  z-index: 9999;
}
.burgerBtn {
  all: unset;
  width: 32px;
  height: 32px;
  display: none;
}
.burgerBtn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.main nav ul li:last-child {
  cursor: pointer;
}
.main nav ul a {
  color: black;
}
.main .login,
.main .logout {
  cursor: pointer;
}
.linksAndRegion {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .burgerBtn {
    display: flex;
  }
  .main {
    position: sticky;
    top: 0;
    background-color: white;
  }
}
