.modal {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(5, 5, 5, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  top: -1000px;
  left: 0px;
  transition-duration: 2000ms;
  width: 100%;
}
.showModal {
  transform: translateY(1000px);
}
.modal .loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 250px;
  background-color: white;
  padding: 20px;
  margin-top: 150px;
}
