.main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 110px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}
.pageNumberContainer {
  width: fit-content;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.main button {
  all: unset;
  cursor: pointer;
  color: black;
}
.main p {
  color: rgb(4, 4, 4, 0.6);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .pageNumberContainer {
    width: 140px;
  }
}
