.main {
  border-top: 2px rgb(128, 125, 125) solid;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.likesNameDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .likesNameDate {
    flex-direction: column;
  }
  .nameDate {
    flex-direction: column;
    gap: 0;
  }
}
