.signinForm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  gap: 20px;
}
.signinForm h1 {
  text-align: center;
  color: rgb(106, 56, 106);
  font-weight: lighter;
  margin-bottom: 20px;
}
.input,
.signinForm button {
  all: unset;
  border: rgb(184, 182, 182) 2px solid;
  padding: 5px;
  width: 70%;
}
.signinForm input:focus {
  border-color: rgba(153, 86, 153, 1);
}
.signinForm button {
  background-color: rgba(153, 86, 153, 1);
  border: none;
  color: white;
  padding: 7px;
  cursor: pointer;
  text-align: center;
  width: 80px;
}
.signinForm button:hover {
  scale: 1.07;
}
.signinForm button:active {
  scale: 1;
}
.signinForm p {
  text-align: center;
}
.redAlert {
  border-color: rgb(186, 2, 2);
}
.redAlert::placeholder {
  color: rgb(186, 2, 2);
}
.errMsg {
  color: rgb(186, 2, 2);
}
@media screen and (max-width: 768px) {
  .signinForm {
    margin-top: 0px;
  }
}
