.main {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px black solid;
}
.main:active,
.main:hover {
  background-color: black;
  color: white;
}
.btnActive {
  background-color: black;
  color: white;
}
.btnDissapear {
  display: none;
}
