.dropdownContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100px;
  background-color: rgb(137, 137, 137);
  border-radius: 5px;
  cursor: pointer;
  top: 35px;
  right: 15px;
  position: absolute;
}
.dropdownContainer li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.countryListContainer {
  position: absolute;
  width: 100%;
  padding-top: 45px;
  top: 0px;
  height: 30px;
  overflow: hidden;
  opacity: 0;
}
.countryListContainer:focus {
  height: 60px;
  padding-top: 0px;
  top: 45px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #696666;
  opacity: 1;
}
