.dropdownContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 150px;
  background-color: rgb(137, 137, 137);
  top: 35px;
  right: 15px;
  position: absolute;
  background-color: #696666;
}
.dropdownContainer li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background-color: #888;
  border-radius: 5px;
  cursor: pointer;
}
.dropdownContainer li:first-child {
  border-radius: 0;
}

.dropdownContainer li:hover {
  background-color: #b51010;
  cursor: pointer;
}
.emptyCell {
  position: absolute;
  height: 100%;
  width: 100%;
}

.countryListContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  padding-top: 45px;
  top: 0px;
  height: 30px;
  overflow: hidden;
  opacity: 0;
  background-color: #696666;
  cursor: pointer;
}

.countryListContainer li:first-child {
  border-radius: 5px;
}

.countryListContainer:focus {
  height: 70px;
  padding-top: 5px;
  gap: 5px;
  padding: 5px;
  top: 45px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #696666;
  opacity: 1;
  cursor: default;
}
