.dropdownContainer {
  display: flex;
  flex-direction: column;
  height: 45px;
  overflow: hidden;
  width: 150px;
  background-color: rgb(137, 137, 137);
  background-color: #696666;
}

.dropdownContainer li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  background-color: #888;
  border-radius: 5px;
  cursor: pointer;
}

.dropdownContainer .logoRegion {
  border-radius: 0;
  position: sticky;
  background-color: #484747;
  color: white;
  cursor: pointer;
  top: 0;
}
.dropdownContainer .logoRegion:hover {
  background-color: #575757;
}
.regionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  padding: 5px;
  padding-right: 10px;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: #323232;
  scrollbar-color: #888 #696666;
}
.regionContainer li:hover {
  background-color: #797878;
}
.showReg {
  height: 120px;
  margin-top: 75px;
}
@media screen and (max-width: 768px) {
  .dropdownContainer {
    width: 95px;
  }
}
