.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  border: rgb(150, 147, 147) solid 2px;
  border-radius: 5px;
  width: 270px;
  height: fit-content;
  gap: 15px;
  margin-top: 150px;
  background-color: white;
  color: rgb(144, 141, 141);
  position: relative;
}
.input,
.loginForm button {
  all: unset;
  border: rgb(184, 182, 182) 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: -5px;
  color: black;
}
.msg {
  text-align: center;
}
.loginForm input:focus {
  border-color: rgb(0, 102, 255);
}
.loginForm button {
  background-color: rgb(134, 10, 192);
  border: none;
  color: white;
  padding: 7px;
  cursor: pointer;
  font-size: 0.8rem;
}
.loginForm button:hover {
  scale: 1.07;
}
.loginForm button:active {
  scale: 1;
}
.loginForm .closeBtn {
  all: unset;
  align-self: end;
  background-color: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  margin-right: -20px;
  margin-top: -10px;
}
.errMsg {
  text-align: center;
  color: rgb(186, 2, 2);
}
